{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm col-lg-8" style="margin-right: 20%;">
     <div class="card ">

        <div class="card-body" style="background: #b8ced9;">
        
            <form action="" method="post" class="col-md-5" style="margin-right: 30%; text-align: -moz-center;">
                {% csrf_token %}

                <h3 type="hidden" placeholder="{{ question }}" id="question">{{ question }}</h3><br>
                {% for answer in answers %}

                <div class="form-check">

                <input type="radio" onclick='saveAnswer("answer{{forloop.counter}}")'
                name="answer" id="answer-{{forloop.counter}}" class="form-check-input">

                    <label>
                        &ensp;&ensp;<strong id="answer{{forloop.counter}}">
                        {{ answer }}   
                        </strong>

                    </label>

                </div>
                {% endfor %}

            </div>

            <div class="card-footer" style="background: #2d2b39;">
                <input class="btn btn-outline-success"
                style="margin-left: 10%;" type="submit" value="پایان آزمون">
            </form>
                <button class="btn btn-outline-primary"
                style="margin-left: 30%;" id="next" onclick="loadQuestion()" 
                value="سوال بعد">سوال بعد
                </button>
            
            </div>

     </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script src="/static/js/my-js.js"></script>
{% endblock %}